
.button-wrapper {
    display: block;
}

#first-canvas {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 1px solid cornflowerblue;
    color: aquamarine;
}

#buttons {
    display: inline-block;
    vertical-align: top;
}

#first-canvas-outline-button,
#shape-canvas-button,
#clear-canvas-button {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 16px;
}

#first-canvas-outline-button {
    background-color: blue;
}

#clear-canvas-button {
    background-color: aqua;
}

#shape-canvas-button {
    background-color: darkmagenta;
}